<style>
    .table-detail tr td {
        word-break: break-all;
        text-align: left;
    }

    .table-detail tr td:first-child {
        width: 100px;
    }
</style>
<div class="row">
    <div style="text-align: center">
        <img id="qrcode-url" src="{$qrcode}" style="width: 60%; margin: 5px auto;"></img>
    </div>
</div>
<div class="hide layer-footer">
    <label class="control-label col-xs-12 col-sm-2"></label>
    <div class="col-xs-12 col-sm-8">
        <button type="reset" class="btn btn-primary btn-embossed btn-close" onclick="Layer.closeAll();">{:__('Close')}
        </button>
        <button class="btn btn-success btn-download" data-name="{$equipmentCode}">{:__('Downloads')}
        </button>
    </div>
</div>
