<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>绑定微信号</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="renderer" content="webkit">
    <link href="__CDN__/assets/css/frontend{$Think.config.app_debug?'':'.min'}.css?v={$Think.config.site.version}" rel="stylesheet">
</head>

<style>
    h4 {
        margin-top: 38px;
        font-size: 20px;
        color: #575d6a;
    }
    .text {
        margin-top: 10px;
        font-size: 15px;
        color: #89909e;
        line-height: 21px;
    }
</style>
<body>

<main class="content" style="text-align: center">
    
    <div>
        <img src="__CDN__/assets/addons/notice/img/success.png" width="150" height="150" alt="">
    </div>
    
    <h4>{$msg}</h4>
    <p class="text">请手动关闭页面</p>
</main>



</body>

</html>